n8n_workflows/SECURE_FIRSATCI_1_VARS.json
{
  "name":"SECURE_FIRSATCI_1_VARS","active":false,
  "nodes":[
    {"parameters":{"path":"firsatci/run","httpMethod":"POST","responseMode":"responseNode"},
     "id":"Webhook_1","name":"Webhook (POST /firsatci/run)","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-240,200]},
    {"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"strict","version":2},
      "conditions":[{"id":"cond-key",
        "leftValue":"={{ ($json[\"headers\"][\"x-api-key\"] || \"\").trim() }}",
        "rightValue":"={{ ($vars.N8N_ACTION_KEY || \"\").trim() }}",
        "operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],
      "combinator":"and"}},"id":"If_Auth","name":"If (x-api-key)","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[40,200]},
    {"parameters":{"responseCode":401,"responseFormat":"json","responseBody":"={{ ({ ok:false, error:'Unauthorized', reason:'Invalid x-api-key' }) }}"},
     "id":"Resp_401","name":"Respond 401","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[360,310]},
    {"parameters":{"responseCode":200,"responseFormat":"json","responseBody":"={{ ({ ok:true, mode: $json.body?.mode ?? 'production', echo: $json.body ?? {} }) }}"},
     "id":"Resp_200","name":"Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[360,110]}
  ],
  "connections":{
    "Webhook (POST /firsatci/run)":{"main":[[{"node":"If (x-api-key)","type":"main","index":0}]]},
    "If (x-api-key)":{"main":[[{"node":"Respond 200","type":"main","index":0}],[{"node":"Respond 401","type":"main","index":0}]]}
  },
  "settings":{},"version":2
}
